:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#cadastro {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 2%;
  border: 3px solid #3ffcff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 0.95);
}

#cadastro label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

#cadastro input[type="text"],
#cadastro input[type="email"],
#cadastro input[type="tel"],
#cadastro input[type="password"] {
  background-color: #bdbdbd;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#cadastro .submit {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3ffcff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cadastro .submit:hover {
  background-color: #24c3d5;
}